.panel-block {
  justify-content: space-between;
}

.panel-block p {
  cursor: pointer;
}

.panel-icon {
  margin-right: 0;
  cursor: pointer;
}

.notification {
  position: fixed;
  top: 20px;
  left: 20px;
  max-width: 250px;
  z-index:5;
}

.fullwidth {
  width: 100%;
}

.section {
  padding: 2rem 0;
}

.modal {
  padding:10px;
}

.modal-card{
  width:100%;
  max-width:500px;
}

.modal-card-title{
  width:100%;
  flex-shrink: 1;
  line-height: 35px;
}

.completed {
  opacity:0.5;
  pointer-events: none;
}

.th-width{
  width:30px;
}



@media(max-width:400px){
  .modal-card-foot{
    justify-content: center;
    align-items: center;
  }
}

@media(max-width:275px){
  .modal-card-foot{
   flex-direction: column;
  }

  .modal-card-foot .button:not(:last-child){
    margin:0;
    margin-bottom:8px;
  }
}

